  alembic
  argon2-cffi
  argon2-cffi-bindings
  alembic_postgresql_enum
  fastapi
  uvicorn
  psycopg[binary]
  sqlalchemy[asyncio]
  pydantic[email]
  pydantic-settings
  pydantic-core
  argon2-cffi
  babel
  jinja2
  python-jose
  python-multipart
  python-dotenv
  safety
  bandit
  pytest
  pytest_asyncio
  asyncio
  coverage[toml]